
*.css~
*.html~
*.js~
*.js~
*.js~
*.js~
streamers/main.js~

#Was wondering why the following wasn't working.
#then I realized I NEEDED TO ADD THE "STREAMERS"
#SUBDIRECTORY.
#My words:
#"Am I an idiot?"
#"AUUUUUGHHHHHHHHH!!!!"
streamers/winaudiolevels/**